.signup {
  background-color: var(--a-black);
}

.success {
  width: 100%;
  margin: 0rem auto 1rem;
  padding: 1rem;
  font-size: large;
  background-color: #4bb543;
  color: var(--a-white);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  letter-spacing: 1.5px;
}

.userinput {
  padding: 0.5rem 0.75rem;
}

.userinput input {
  margin-bottom: 0.5rem;
}

.register {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 480px) {
  .submit-btn {
    padding: 0.75rem;
  }
  .hero1 {
    margin-top: 1rem;
  }
  .hero2 {
    margin-top: 0.25rem;
  }
  .inputbox {
    margin: 0.75rem auto;
    padding: 0.5rem;
  }
  .userinput input {
    height: 1.5rem;
  }
  .register {
    margin-top: 0.25rem;
  }
}
